<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    Вы не авторизованы или у вас нет доступа к данной секции.
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Ошибка 404</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">По вашему запросу ничего не найдено</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>